<?xml version="1.0"?>
<robot name="a0509_stirfry_gripper" xmlns:xacro="http://www.ros.org/wiki/xacro">
		<link name="base_link">
			<inertial>
				<mass value="2.198"/>
				<origin xyz="-1e-06   -0.001096    0.058957"/>
				<inertia ixx="0.010511" ixy="4.9786e-06" ixz="7.1839e-06" iyy="0.012033"
					iyz="-2.3529e-05"
					izz="0.012481"/>
			</inertial>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_collision/A0509_0_0.stl" scale="1 1 1" />
                </geometry>
            </collision>
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_white/A0509_0_0.stl" scale="1 1 1" />
				</geometry>
			</visual>
		</link>
		<link name="base"/>
		<joint name="base_link-base" type="fixed">
			<origin rpy="0 0 0" xyz="0 0 0.450"/>
			<parent link="base_link"/>
			<child link="base"/>
		</joint>
		<!-- joint 1 -->
		<joint name="joint_1" type="revolute">
			<parent link="base_link" />
			<child link="link_1" />
			<origin rpy="0 0 0" xyz="0 0 0.1560" />
			<axis xyz="0 0 1" />
			<limit effort="194" lower="-6.2832" upper="6.2832" velocity="3.1416"/>
			<dynamics friction="0" />
		</joint>
		<link name="link_1">
			<inertial>
				<mass value="3.715"/>
				<origin xyz="-6.9e-05    0.024423   -0.007375"/>
				<inertia ixx="0.01899" ixy="7.8574e-07" ixz="1.865e-05" iyy="0.013731" iyz="-0.00072828"
					izz="0.01686"/>
			</inertial>
            <collision>
				<origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_collision/A0509_1_0.stl" scale="1 1 1" />
                </geometry>
            </collision>
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_white/A0509_1_0.stl" scale="1 1 1" />
				</geometry>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_collision/A0509_1_1.stl" scale="1 1 1" />
                </geometry>
            </collision>
            <visual>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_white/A0509_1_1.stl" scale="1 1 1" />
				</geometry>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_collision/A0509_1_2.stl" scale="1 1 1" />
                </geometry>
            </collision>
            <visual>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_white/A0509_1_2.stl" scale="1 1 1" />
				</geometry>
			</visual>
		</link>
		<!-- joint2 -->
		<joint name="joint_2" type="revolute">
			<parent link="link_1" />
			<child link="link_2" />
			<origin rpy="0 -1.571 -1.571" xyz="0 0 0" />
			<axis xyz="0 0 1" />
			<limit effort="194" lower="-6.2832" upper="6.2832" velocity="3.1416"/>
			<dynamics friction="0" />
		</joint>
		<link name="link_2">
			<inertial>
				<mass value="6.837"/>
				<origin xyz="0.20449 -1.2521e-17     0.13271"/>
				<inertia ixx="0.019399" ixy="0.00010317" ixz="4.2985e-06" iyy="0.25627" iyz="5.1674e-06"
					izz="0.25442"/>
			</inertial>
            <collision>
				<origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_collision/A0509_2_0.stl" scale="1 1 1" />
                </geometry>
            </collision>
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_white/A0509_2_0.stl" scale="1 1 1" />
				</geometry>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_collision/A0509_2_1.stl" scale="1 1 1" />
                </geometry>
            </collision>
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_white/A0509_2_1.stl" scale="1 1 1" />
				</geometry>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_collision/A0509_2_2.stl" scale="1 1 1" />
                </geometry>
            </collision>
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_white/A0509_2_2.stl" scale="1 1 1" />
				</geometry>
			</visual>
		</link>
		<!-- joint3 -->
		<joint name="joint_3" type="revolute">
			<parent link="link_2" />
			<child link="link_3" />
			<origin rpy="0 0 1.571" xyz="0.409 0 0" />
			<axis xyz="0 0 1" />
			<limit effort="163" lower="-2.7925" upper="2.7925" velocity="3.1416"/>
			<dynamics friction="0" />
		</joint>
		<link name="link_3">
			<inertial>
				<mass value="2.769"/>
				<origin xyz="7.1e-05   -0.005123    0.033009"/>
				<inertia ixx="0.012526" ixy="-7.1869e-06" ixz="1.3345e-05" iyy="0.013868"
					iyz="-0.00047287"
					izz="0.0088186"/>
			</inertial>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_collision/A0509_3_0.stl" scale="1 1 1" />
                </geometry>
            </collision>
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_white/A0509_3_0.stl" scale="1 1 1" />
				</geometry>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_collision/A0509_3_1.stl" scale="1 1 1" />
                </geometry>
            </collision>
            <visual>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_white/A0509_3_1.stl" scale="1 1 1" />
				</geometry>
			</visual>
		</link>
		<!-- joint4 -->
		<joint name="joint_4" type="revolute">
			<parent link="link_3" />
			<child link="link_4" />
			<origin rpy="1.571 0 0" xyz="0 -0.367 0" />
			<axis xyz="0 0 1" />
			<limit effort="50" lower="-6.2832" upper="6.2832" velocity="6.2832"/>
			<dynamics friction="0" />
		</joint>
		<link name="link_4">
			<inertial>
				<mass value="2.679"/>
				<origin xyz="-8.6e-05    0.086348   -0.086031"/>
				<inertia ixx="0.056068" ixy="2.2109e-05" ixz="1.4522e-05" iyy="0.047122" iyz="-0.014997"
					izz="0.013329"/>
			</inertial>
            <collision>
				<origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_collision/A0509_4_0.stl" scale="1 1 1" />
                </geometry>
            </collision>
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_white/A0509_4_0.stl" scale="1 1 1" />
				</geometry>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_collision/A0509_4_1.stl" scale="1 1 1" />
                </geometry>
            </collision>
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_white/A0509_4_1.stl" scale="1 1 1" />
				</geometry>
			</visual>
		</link>
		<!-- joint5 -->
		<joint name="joint_5" type="revolute">
			<parent link="link_4" />
			<child link="link_5" />
			<origin rpy="-1.571 0 0" xyz="0 0 0" />
			<axis xyz="0 0 1" />
			<limit effort="50" lower="-6.2832" upper="6.2832" velocity="6.2832"/>
			<dynamics friction="0" />
		</joint>
		<link name="link_5">
			<inertial>
				<mass value="2.051"/>
				<origin xyz="9.1e-05   -0.006457    0.015434"/>
				<inertia ixx="0.0090788" ixy="-5.3997e-06" ixz="8.3955e-06" iyy="0.0084721"
					iyz="-0.0001816"
					izz="0.010453"/>
			</inertial>
            <collision>
				<origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_collision/A0509_5_0.stl" scale="1 1 1" />
                </geometry>
            </collision>
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_white/A0509_5_0.stl" scale="1 1 1" />
				</geometry>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_collision/A0509_5_1.stl" scale="1 1 1" />
                </geometry>
            </collision>
            <visual>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_white/A0509_5_1.stl" scale="1 1 1" />
				</geometry>
			</visual>
		</link>
		<!-- joint6 -->
		<joint name="joint_6" type="revolute">
			<parent link="link_5" />
			<child link="link_6" />
			<origin rpy="1.571 0 0" xyz="0 -0.124 0" />
			<axis xyz="0 0 1" />
			<limit effort="50" lower="-6.2832" upper="6.2832" velocity="6.2832"/>
			<dynamics friction="0" />
		</joint>
		<link name="link_6">
			<inertial>
				<mass value="0.773"/>
				<origin xyz="-2.2e-05      -7e-06   -0.051746"/>
				<inertia ixx="0.0087483" ixy="7.9428e-06" ixz="1.7034e-06" iyy="0.0078566"
					iyz="9.6857e-06"
					izz="0.0044452"/>
			</inertial>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_collision/A0509_6_0.stl" scale="1 1 1" />
                </geometry>
            </collision>
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<mesh filename="../doosan_a0509/meshes/a0509_white/A0509_6_0.stl" scale="1 1 1" />
				</geometry>
			</visual>
		</link>

  <!--
    Rigid physics attachment, not a runtime/fake grasp:
    child +Y is aligned with the A0509 link_6 +Z wrist axis.  The 16 mm
    translation places the gripper's y=-16 mm mounting face at the flange plane.
  -->
  <material name="stirfry_gripper_aluminum">
    <color rgba="0.72 0.74 0.76 1.0"/>
  </material>

  <link name="stirfry_gripper_link">
    <inertial>
      <origin xyz="0.0714894332 0 -0.0020389604" rpy="0 0 0"/>
      <mass value="0.4965946713"/>
      <inertia
          ixx="0.000362086613" ixy="0" ixz="0.000318562821"
          iyy="0.00321059761" iyz="0" izz="0.00293325229"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/stirfry_gripper.stl" scale="1 1 1"/>
      </geometry>
      <material name="stirfry_gripper_aluminum"/>
    </visual>

    <collision name="gripper_convex_000">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_000.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_001">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_001.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_002">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_002.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_003">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_003.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_004">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_004.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_005">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_005.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_006">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_006.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_007">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_007.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_008">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_008.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_009">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_009.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_010">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_010.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_011">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_011.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_012">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_012.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_013">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_013.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_014">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_014.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_015">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_015.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_016">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_016.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_017">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_017.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_018">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_018.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_019">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_019.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_020">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_020.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_021">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_021.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_022">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_022.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_023">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_023.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_024">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_024.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_025">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_025.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_026">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_026.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_027">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_027.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_028">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_028.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_029">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_029.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_030">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_030.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_031">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_031.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_032">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_032.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_033">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_033.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_034">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_034.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_035">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_035.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_036">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_036.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_037">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_037.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_038">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_038.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_039">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_039.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_040">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_040.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_041">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_041.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_042">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_042.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_043">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_043.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_044">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_044.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_045">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_045.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_046">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_046.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_047">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_047.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_048">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_048.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_049">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_049.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_050">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_050.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_051">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_051.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_052">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_052.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_053">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_053.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_054">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_054.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_055">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_055.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_056">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_056.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_057">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_057.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_058">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_058.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_059">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_059.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_060">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_060.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_061">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_061.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_062">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_062.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_063">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_063.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_064">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_064.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_065">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_065.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_066">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_066.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_067">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_067.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_068">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_068.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_069">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_069.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_070">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_070.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_071">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_071.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_072">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_072.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_073">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_073.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_074">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_074.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_075">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_075.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_076">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_076.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_077">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_077.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_078">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_078.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_079">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_079.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_080">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_080.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_081">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_081.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_082">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_082.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_083">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_083.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_084">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_084.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_085">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_085.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_086">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_086.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_087">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_087.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_088">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_088.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_089">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_089.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_090">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_090.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_091">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_091.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_092">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_092.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_093">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_093.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_094">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_094.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_095">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_095.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_096">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_096.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_097">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_097.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_098">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_098.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_099">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_099.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_100">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_100.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_101">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_101.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_102">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_102.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_103">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_103.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_104">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_104.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_105">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_105.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_106">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_106.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_107">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_107.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_108">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_108.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_109">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_109.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_110">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_110.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_111">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_111.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_112">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_112.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_113">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_113.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_114">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_114.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_115">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_115.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_116">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_116.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_117">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_117.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_118">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_118.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_119">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_119.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_120">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_120.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_121">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_121.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_122">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_122.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_123">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_123.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_124">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_124.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_125">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_125.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_126">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_126.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_127">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_127.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_128">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_128.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_129">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_129.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_130">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_130.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_131">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_131.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_132">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_132.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_133">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_133.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_134">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_134.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_135">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_135.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_136">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_136.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_137">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_137.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_138">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_138.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_139">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_139.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_140">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_140.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_141">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_141.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_142">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_142.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_143">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_143.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_144">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_144.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_145">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_145.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_146">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_146.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_147">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_147.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_148">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_148.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_149">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_149.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_150">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_150.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_151">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_151.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_152">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_152.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_153">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_153.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_154">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_154.stl" scale="1 1 1"/>
      </geometry>
    </collision>

    <collision name="gripper_convex_155">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../stirfry_gripper/meshes/collision/gripper_collision_155.stl" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>

  <joint name="link_6-stirfry_gripper" type="fixed">
    <origin xyz="0 0 0.016" rpy="1.57079632679 0 0"/>
    <parent link="link_6"/>
    <child link="stirfry_gripper_link"/>
  </joint>
</robot>

